header.header
    .box
		.header__content
			.logo
				a(href="/" class="logo_link") АзовВнешИмпэкс
			.currencys
				.currencys__header
					span НБУ 21.11.2019
				.currencys__list
					.currency__item
						span(class="currency__name") USD/UAH
						span(class="currency__val") 24.35
					.currency__item
						span(class="currency__name") EUR/UAH
						span(class="currency__val") 24.35
					.currency__item
						span(class="currency__name") USD/UAH
						span(class="currency__val") 24.35