header.header
	& .header__content
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 50px
		padding: 20px 0px
		width: 100%

		& .logo
			font-family: 'Open Sans', sans-serif
			font-weight: 600
			color: $main
			font-size: 26px
			display: flex
			margin-right: 30px
			position: relative

			&_link
				position: relative
				display: flex
				align-items: center
				justify-content: center
				background: #fff
				z-index: 10
				padding: 10px 20px

			&:before
				content: ''
				width: 102%
				height: 110%
				position: absolute
				z-index: 1
				display: block
				background-image: linear-gradient(210deg,#5588e4 0%,#1421c0 100%)
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)

		& .currencys
			display: flex
			
			&__content
				margin-left: 50px
				width: 200px

			&__header
				height: 30px
				width: 100%
				display: flex
				justify-content: center
				align-items: center
				color: #ffffff
				margin-bottom: 10px
				background-image: linear-gradient(210deg,#5588e4 0%,#1421c0 100%)
				background-color: transparent!important
				border-radius: 6px
			&__list
				display: flex
				width: 100%
				flex-direction: column

			&__item
				display: flex
				width: 100%
				align-items: center
				justify-content: space-between
				margin-bottom: 5px
				box-shadow: 0px 8px 40px 0px rgba(0,0,0,0.2)
				border-radius: 6px
				padding: 5px
				transition: .3s

				&:hover
					transition: .3s
					box-shadow: 0px 8px 25px 0px rgba(0,0,0,0.2)