footer.footer
	.box
		.footer__content
			.footer__left
				span(class="title-section") Контакты
				.footer__contacts
					span(class="footer__contacts-text") ООО «Торговый Дом АзовВнешИмпэкс»
					span(class="footer__contacts-text") Генеральный директор: Сударев Алексей Васильевич
					a( href="https://goo.gl/maps/681NBi9o1of67rYo7" class="footer__contacts-text link" target="_blank") Офис: 119180, г. Москва, Большая Полянка 42 с1 (с расположением на карте)
					span(class="footer__contacts-text") ОГРН: 1157746093317
					span(class="footer__contacts-text") ИНН: 7715411900
					span(class="footer__contacts-text") КПП: 770801001
					a( href="mailto:azvimpex@gmail.com" class="footer__contacts-text link") Е-mail: azvimpex@gmail.com
			.footer__right
				span(class="title-section") Склады
				.footer__store
					a(href="/" class="footer__store-item") Store 1
					a(href="/" class="footer__store-item") Store 2
					a(href="/" class="footer__store-item") Store 3
					a(href="/" class="footer__store-item") Store 4