header.header
	.box
		.header__content
			.logo
				a(class="logo_link" href="/") АзовВнешИмпэкс
			.currencys
				.currencys__content
					.currencys__header
						span Курс валют 21.11.2019
					.currencys__list
						.currencys__item
							span(class="currency__name") USD/UAH
							span(class="currency__val") 24.35
						.currencys__item
							span(class="currency__name") EUR/UAH
							span(class="currency__val") 27.00
						.currencys__item
							span(class="currency__name") RUB/UAH
							span(class="currency__val") 0.381
				.currencys__content
					.currencys__header
						span Котировки 21.11.2019
					.currency__list
						.currencys__item
							span(class="quotes__name") Brent
							span(class="quotes__val") -0,27%
						.currencys__item
							span(class="quotes__name") Gold
							span(class="quotes__val") +0,07%
						.currencys__item
							span(class="quotes__name") Bitcoin
							span(class="quotes__val") -0,35%